.input-group{
    width: 40%;
}

input[type=search] {
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    border-left: none;
}

.input-group-prepend .input-group-text{
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

table{
    font-size: 18px;
}